/* COLORS:
Fresh Green: rgb(84, 158, 45);
darker green: rgb(31, 88, 0);
lighter green: rgb(117, 186, 80);

 */


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: lato, sans-serif;
    font-size: 2rem;
    padding: 2rem;
}


/* HEADER STYLE */

.header {
	width: 100%;
	margin: 0 auto;
	background-image: linear-gradient(to right bottom, rgba(205, 207, 204, .8), rgba(237, 238, 237, .8)), url('../img/team.jpg');
	background-size: cover;
	padding: 5rem 5rem 15rem 5rem;
	border-radius: .5rem;
	height: 105vh;
	position: relative;
}

.menu {
/*	border: 1px solid red;*/
	text-align: center;
	position: relative;
}

.menu ul {
	list-style: none;

}
.menu__link:not(:last-child) {
	margin-right: 1rem;
}

.menu__link,
.menu__link:link,
.menu__link:visited {
	display: inline-block;
	text-decoration: none;
	font-weight: 300;
	color: black;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	position: relative;
	z-index: 3;
}

.menu__link:hover {
	border-bottom: 2px solid yellow;
	font-weight: 700;
}

.header__title {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	padding: 15rem;
}

.header__title--main {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 6rem;
	letter-spacing: 3rem;
	margin-bottom: 3rem;
}

.header__title--h3 {
	text-transform: uppercase;
	letter-spacing: .5rem;
	font-weight: 400;
}

/* MAIN CONTENT STYLE */

.main {
	margin: -6rem auto 0 auto;
	text-align:center;
	font-size: 3rem;
}

/* FIRST DIV STYLE */

.main-div {
	transform: skewY(5deg);
	width: 100%;
	height: 100%;
	padding: 15rem 10rem;
	background-color: yellow;
}

.main-div > * {
	transform: skewY(-5deg);
}

.main__h2 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.1rem;
}

.main__text {
	margin-top: 3rem;
	font-size: 2rem;
	line-height: 3rem;
}

.content {
	margin: 2rem;
}

/* SECOND DIV STYLE */

.person-order {
	transform: skewY(5deg);
	width: 100%;
	height: 100%;
	padding: 15rem 10rem;
	background-image: linear-gradient(to right bottom, rgba(205, 207, 204, .8), rgba(237, 238, 237, .8)), url('../img/elderly.jpg');
	background-size: cover;
	background-position: center;
}

.person-order > * {
	transform: skewY(-5deg);
}

.input {
	display: block;
	margin: 3rem auto 1rem auto;
	width: 50%;
	max-width: 100%;
	height: 5rem;
	border-radius: 10px;
	border: none;
	text-align: center;
	font-size: 2rem;
}

.input-file {
	margin-top: 3rem;
	text-align: center;
	font-size: 2rem;
}

.input:hover,
.input:focus {
	outline: none;
	background-color: beige;
}

.input:focus {
	font-weight: 600;

}

.input::-webkit-input-placeholder {
	color: #999;
}

.label {
    font-size: 2rem;
    font-weight: 400;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s    ;
}

.label-file {
	font-weight: 600;
	color: red;
}


.age-label {
	opacity: 0;
}

.input:placeholder-shown + .label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
}

.btn,
.btn:link,
.btn:visited {
	text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background-color: black;
    color: #fff;
    margin-top: 5rem;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(black,.8);

    }

.btn:active,
.btn:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(black,.8);
}

.btn::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-animated {
    animation: moveInBottom .5s ease-in .5s;
    animation-fill-mode: backwards;
}


/* THIRD DIV STYLE */

.volunteer {
	transform: skewY(5deg);
	width: 100%;
	height: 100%;
	padding: 15rem 10rem;
	background-image: linear-gradient(to right bottom, rgba(205, 207, 204, .8), rgba(237, 238, 237, .8)), url('../img/charity.jpg');
	background-size: cover;
	background-position: center;
}

.volunteer > * {
	transform: skewY(-5deg);
}


/* PRODUCTS SECTION STYLING */

.main__cards {
	margin: 10rem 0;
	width: 100%;
}

.card {
	display: inline-block;
	margin: 0 5rem;
	/*padding: 2rem 3rem;*/
	height: 20rem;
	width: 20rem;
	border-radius: 1rem;
	overflow: hidden;
	box-shadow: 0 .5rem 3rem rgba(0,0,0, .5);
	position: relative;
	transition: all .2s;
}

.card:hover {
	transform: translateY(-.9rem) scale(1.1);
}

.card__img {
	max-width: 100%;
	width: 100%;
	height: 100%;
	filter: blur(.5px); 
}



/* FOOTER STYLE */

.footer {
	background-color: black;
	text-align: center;
	color: #fff;
	margin-top: -6rem;
}

/* PAYPAL DONATION BUTTON */

.footer__div {
	font-weight: 700;
	padding: 20rem 12rem;
	padding-top: 25rem;
}

.paypal__btn {
	margin-bottom: 6rem;
}

.paypal__msg {
	font-size: 1.5rem;
	margin-bottom: 2rem;
	font-weight: 400;
}

.footer__contact {
	margin: 5rem 0;
	font-size: 1.8rem;
	font-weight: 600;
	display: inline-block;
	width: 60%;
}

.footer__link:link,
.footer__link:visited {
	font-size: 3rem;
	color: #eee;
	font-weight: 400;
}

.footer__link:not(:last-child) {
	margin-right: 5rem;
}


/* sections sizes media queries */

@media screen and (max-width: 580px) {
	.main-div,
	.person-order,
	.volunteer {
		height: 100%;
	}


}

/* H2 size media query */

@media screen and (max-width: 620px) {
	.main__h2 {
		font-size: 2.5rem;
		font-weight: 900;
		letter-spacing: 0;
	}
}

/* HEADER media query */

@media screen and (max-width: 530px) {
	.header {
		height: 150vh;
	}

	.header__title {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
}

/* FORM INPUTS MEDIA QUERIES */
@media screen and (max-width: 600px) {
	.input {
		width: 100%;
		font-size: auto;
	}
	.input-file {
		font-size: 1rem ;
	}
}

